
body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
    color: #424242
}
main{
    margin: 0 auto;
    width: 800px;
}

.details {
    display: flex;
    gap: 25px;
}
.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #eee;
    padding: 25px;
    border-radius: 20px;
    margin-top: 25px;
}

.masthead{
    height: 200px;
    border-radius: 20px;
    background: no-repeat bottom/ cover  url('Images/bg.jpg');
}
img {
    width: 100%;
}

h2{
    margin: 0 0 10px 0;
}

p{
    margin: 0;
    line-height: 1.4em;
}

h1{
    background-image: url('Images/Logo.png');
    background-repeat: no-repeat;
    font-size: 3em;
    background-size: 40px;
    background-position: center left;
    padding-left: 55px;
    margin: 100px 0 25px 0;

}

.details section.with-code{
    padding: 0;
}

div.code-copy{
    padding: 25px
}

div.code-html{
    padding: 25px;
    background: #424242;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.details section p {
    margin:25px;
}
.details section h2{
    margin: 25px;
}